@import "@/assets/variables";

@import "@/assets/cabinet/layout";
@import "@/assets/map";
@import "@/assets/card";
@import "@/assets/reset";

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}