#app.map-page {

	// Иначе не работает.
	&.v-application .elevation-1  {
		box-shadow: none !important;
	}

	font-family: $main-font-family;
	color: $text-color;

		header .theme--light.v-label, .theme--light.v-icon, input, .v-btn {
			color: $text-color;
	}
}

main.v-main {
	@media (max-width: $my-900px) {
		padding-top: 108px !important;
	}
}

.date-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 14px;
  background: $button-background;
  border-radius: 12px;
  height: 52px;
	
	@media (max-width: $my-900px) {
		height: 32px;
	}

	i {
		width: 17px;
		
		&::before {
			height: 18px;
			font-size: 22px;
			overflow: hidden;
		}
		@media (min-width: $my-big) {
			margin-bottom: 3px;
		}
	}

  .vertical-line {
		height: 28px;
    margin: 0 12px;
  	position: static;
		@media (max-width: $my-900px) {
			display: block;
		}
	}
}

.vertical-line {
	border-left: 1px solid #AFAFB0;
  height: 32px;
  position: relative;
	top: -8px;
	@media (max-width: $my-900px) {
		display: none;
	}
}

#app.map-page header{ 
	background: #EBEBEC;
  padding: 22px 22px 22px 20px;
	// Отступы верхних панелей возможно стоит уточнить
	@media (max-width: $bp-lg) {
		padding: 20px 20px 27px 42px;
	}
	@media (max-width: $my-900px) {
		height: 60px !important;
		padding: 18px;
	}
	
	.v-btn {
		text-transform: none;
	}

	.v-btn--icon {
		height: 49px;
    width: 64px;
		
		@media (max-width: $my-900px) {
			height: 32px;
			width: 26px;
			margin-right: 21px;
		}

		.logo-lines {
			display: none;
		
			@media (max-width: $my-900px) {
				display: block;
				
				svg {
					width: 26px;
					transform: scale( 1.4, 2 );
				}
			}
		}
		
		& > span > svg {
			@media (max-width: $my-900px) {
				display: none;
			}
		}
	}
  
	.v-toolbar__content {
    padding: 0;

		@media (max-width: $my-900px) {
			height: 32px !important;
			width: 100%;
			justify-content: space-between;
		}
  }
  
	.rounderer {
    border-radius: 16px;
    &.v-btn--plain {
      border: 1px solid $primary;
      height: 48px;
			width: 148px;
			color: $primary;
			background: rgba(255, 251, 249, 0.6);
			font-family: 'Nunito', sans-serif;

			@media (min-width: $bp-xl) {
				width: 138px;
			}
    }

		@media (max-width: $bp-md) {
			display: none;
		}

		&.mr-md-2{
			@media (min-width: $bp-md) {
				margin-right: 20px;
			}
		}
  }
 
	.date-input {
		max-width: 90px;
    margin: 0 3px;
		@media (max-width: $bp-lg) {
			margin: 0 2px;
			max-width: 43px;
		}
		@media (max-width: 900) {
			max-height: 20px;
		}
  }
	
	[role="combobox"] .v-input__append-inner {
		display: none;
	}
	
	[role="combobox"]::before {
		border: 0px;
	}
  
	.heder-right-data input {
    text-align: right;
    padding-right: 1px;
  }
	
	
	form { 
		
		.v-select__slot {
			max-width: $lg-size-top-panel-el;
			margin-left: 15px;
		
			@media (max-width: $bp-lg) {
				max-width: 116px;
			}
		
			input{
				text-align: center;
			}

		}

		.v-input__slot {
  	  background: $button-background;
    	box-shadow: none;
    	padding: 0;
  	  border-radius: 0;
	    position: relative;
    	bottom: -11px;
			min-height: 28px;
			
			@media (min-width: $bp-lg) {
				bottom: -13px;
			}
	  }
		
		.date-input .v-input__slot {
			bottom: -13px;
		}
	}

	.serch-characteristics {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		color: $text-color;
		
		@media (min-width: $bp-lg) {
			width: $lg-size-top-panel-el;
		}
	}


// Нижняя половина меню.

		 
	&.second-header {
		@media (max-width: $my-900px) {
			margin-top: 60px !important;
		}
	}	

	&.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0)
	}

	.full_search__panel__select--house-types {
    margin-right: 16px;
		
		@media (max-width: $my-900px) {
			display: none;
		}
		
		[role="button"] {
			display: block;
		}

		.v-input__slot {
      background: $button-background;
      box-shadow: none;
      padding: 0 25px 0 20px;
      border-radius: 16px;
      align-items: center;
      width: 200px;
      height: 56px;
			overflow: hidden;
      
      &::before {
        border: 0px;
      }
			.v-select__slot { 
      	width: 100%;
				position: relative;
				top: 12px;
				margin-left: 0px;
				max-width: 154px;
			}
		}
	}
	.v-chip-group {
		@media (max-width: $my-big) {
    	display: none;
 		}
	}
	.v-slide-group {
		&__content {
			display: block;
			padding: 0;
			& > span {
				margin: 0 4px 0 0;
			}
		}
		span {
			height: 56px;
			padding: 0;
			border-radius: 12px;

			&.v-slide-item--active {
				&::before{
					opacity: 0;
				}

				.v-chip__content {
					border: 1px solid $darker-primary;
					background: #E6F7F6;
				}
			}

			.v-chip__content {
				padding: 16px;
				margin: 0px;
				background: $button-background;
				border: 1px solid $gray-border;
			}

			.v-icon {
				display: none;
			}
	  }
	}
	
	button[aria-haspopup] {
		background: #E6F7F6;
		border: 1px solid $gray-border;
		border-radius: 16px;
		padding: 16px;
		height: 56px;
		margin-left: 16px;
		@media (max-width: $my-900px) {
			margin-left: 0px;
			height: 32px;
			width: 100%;
			border-radius: 12px;
		}

		.v-badge__badge {
			background-color: $darker-primary !important;
   		border-color: $darker-primary !important;
			color: #FFFBF9;
			font-size: 10px;
			font-family: $main-font-family;
			font-weight: 400;
			line-height: 16px;
			padding: 2.5px 7px;
			top: -20px !important;
			right: -22px !important;
			left: auto !important;
			
			@media ( max-width: $my-900px ) {
				position: fixed !important;
				right: 15px !important;
				top: 7px !important;
				padding: 0;
				height: 16px;
				width: 16px;
				min-width: 16px;
			}
		}
	}
}

.search__container__row__map {
	position: relative;
	left: clamp(500px, calc(500px + (100vw -1000px) / 5), 812px);
	@media ( max-width: 1100px ) {
		left: 520px;
	}
	@media ( max-width: 880px ) {
		display: none;
	}
}