// Breakpoints
$bp-xs: '0';
$bp-sm: '600px';
$bp-md: '960px';
$bp-lg: '1264px';
$bp-xl: '1904px';

$my-big: 1460px;
$my-900px: 900px;

$primary: #00ACA2;
$darker-primary: #33BDB5;
$button-background: #FFFBF9;
$text-color: #37373A;
$gray-border: #D7D7D8;

$lg-size-top-panel-el: 170px;
$main-font-family: 'Ubuntu', sans-serif;