// Breakpoints
$bp-xs: '0';
$bp-sm: '600px';
$bp-md: '960px';
$bp-lg: '1264px';
$bp-xl: '1904px';

$my-big: 1460px;

$primary: #00ACA2;
$button-background: #FFFBF9;
$text-color: #37373A;

$lg-size-top-panel-el: 170px;